@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html, header, body, footer{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

/* ----------------------------------------test header */

.green {
    width: 33%;
    background-color: green;
    color: black;
    text-align: center;

}

.white {
    width:3 3%;
    background-color: white;
    color: white;
}

.red {
    width: 33%;
    background-color: red;
    color: black;
    text-align: center;
}

header {
    top: 0;
    left: 0;
}

.heading-text {
    text-align: center;
}

.table-header {
    top: 0;
    left: 0;
    border-collapse: collapse;
}

.chef-image {
    height: 125px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(181, 181, 181, 0.5);
}
/* ----------------------------------------Navbar */

.nav-table {
    width: 100%;
    border-collapse: collapse;
}

.table-home{
    width: 25%;
    text-align: center;
}

.table-menu {
    width: 25%;
    text-align: center;
}

.table-bookings {
    width: 25%;
    text-align: center;
}

.table-story {
    width: 25%;
    text-align: center;
}


/* ----------------------------------------Footer */

#social-media-table {
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    bottom: 0;
}

.facebook {
    width: 33%;
    background-color: green;
    text-align: center;
}

.instagram {
    width: 33%;
    background-color: white;
    text-align: center;
}

.twitter {
    width: 33%;
    background-color: red;
    text-align: center;
}
